<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<resource_extra>
		<object root="1" />
		<object name="ID_STATICTEXT1" class="wxStaticText" variable="StaticText1" member="yes" />
		<object name="ID_BUTTON1" class="wxButton" variable="ColorSelButton" member="yes">
			<handler function="OnColorSelButtonClick" entry="EVT_BUTTON" />
		</object>
		<object name="ID_CHECKBOX1" class="wxCheckBox" variable="CheckBox1" member="yes" />
		<object name="ID_CHECKBOX2" class="wxCheckBox" variable="CheckBox2" member="yes" />
		<object name="ID_CHECKBOX3" class="wxCheckBox" variable="CheckBox3" member="yes" />
		<object name="ID_RADIOBUTTON1" class="wxRadioButton" variable="RadioButton1" member="yes" />
		<object name="ID_RADIOBUTTON2" class="wxRadioButton" variable="RadioButton2" member="yes" />
		<object name="ID_RADIOBUTTON3" class="wxRadioButton" variable="RadioButton3" member="yes" />
		<object name="ID_STATICTEXT2" class="wxStaticText" variable="StaticText2" member="yes" />
		<object name="ID_CHOICE1" class="wxChoice" variable="Choice1" member="yes" />
	</resource_extra>
</wxsmith>
