<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<resource_extra>
		<object root="1" />
		<object name="ID_STATICTEXT1" class="wxStaticText" variable="StaticText1" member="yes" />
		<object name="ID_BUTTON1" class="wxButton" variable="ColorSelButton" member="yes">
			<handler function="OnColorSelButtonClick" entry="EVT_BUTTON" />
		</object>
		<object name="ID_CHECKBOX_SYNC_POS" class="wxCheckBox" variable="syncPositionCheckBox" member="yes" />
		<object name="ID_CHECKBOX_INVERSE_DES" class="wxCheckBox" variable="inverseDesignatorCheckBox" member="yes" />
		<object name="ID_CHECKBOX_SHOW_SCROLLBAR" class="wxCheckBox" variable="showScrollbarCheckBox" member="yes" />
		<object name="ID_STATICTEXT2" class="wxStaticText" variable="StaticText2" member="yes" />
		<object name="ID_CHOICE1" class="wxChoice" variable="adjustPositionChoice" member="yes" />
	</resource_extra>
</wxsmith>
